<% if @thread.errors.any? %>
  <div class="flash">
    Error messages.
  </div>
  <div>
    <% @thread.errors.full_messages.each do |msg| %>
      <div class="flash"><%= msg %></div>
    <% end %>
  </div>
<% end %>
