

  <div class="black">
    <div>
      Let's explore f*cking interesting threads.
    </div>
    <div>
      Or create a new thread on your own!!!.
    </div>
  </div>

  <% @threads.each do |thread| %>
    <div> 
      <a class="btn_anchor" href=<%="/"+"#{thread.id}"%>>
        <%= thread.name %>
      </a>
    </div>
  <% end %>


